<%- include("../layout/head", {title: title}) %>

<div class="container">
  <form method="POST">
    <div class="form-group">
      <label for="title">Заголовок</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        value="<%= book.title %>"
      >
    </div>
    <div class="form-group">
      <label for="description">Описание</label>
      <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        value="<%= book.description %>"
      >
    </div>
    <div class="form-group">
      <label for="authors">Автор</label>
      <input
        type="text"
        class="form-control"
        id="authors"
        name="authors"
        value="<%= book.authors %>"
      >
    </div>
    <div class="form-group">
      <label for="favorite">favorite</label>
      <input
        type="text"
        class="form-control"
        id="favorite"
        name="favorite"
        value="<%= book.favorite %>"
      >
    </div>
    <div class="form-group">
      <label for="fileCover">Обложка</label>
      <input
        type="text"
        class="form-control"
        id="fileCover"
        name="fileCover"
        value="<%= book.fileCover %>"
      >
    </div>
    <div class="form-group">
      <label for="fileName">Ссылка</label>
      <input
        type="text"
        class="form-control"
        id="fileName"
        name="fileName"
        value="<%= book.fileName %>"
      >
    </div>
    <% if(book._id) { %>
      <button type="submit" class="btn btn-primary">Редактировать</button>
      <a href="/books/<%= book._id %>" class="btn btn-secondary">Отмена</a>
    <% } else { %>
      <button type="submit" class="btn btn-primary">Добавить</button>
      <a href="/books" class="btn btn-secondary">Отмена</a>
    <% } %>
  </form>
</div>
<%- include("../layout/footer") %>